* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
}

.nav__container {
  text-align: center;
  box-shadow: 0px 10px 10px #dcdcdc;
  padding-top: 20px;
  padding-bottom: 20px;
}
.nav__title {
  display: inline;
  font-weight: 100;
  font-size: 30px;
  font-family: "Raleway", sans-serif;
  margin-right: 100px;
  margin-left: 10px;
  color: #58bbde;
}
.nav__list {
  margin-top: 20px;
  list-style-type: none;
  text-align: left;
  padding-left: 35px;
  display: none;
}
.nav__list--active {
  box-shadow: none;
  display: block;
}
.nav__item {
  color: #cdcdcd;
  margin-bottom: 14px;
  text-decoration: none;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: smaller;
  font-family: Arial, Helvetica, sans-serif;
}
.nav__item--first {
  color: black;
}
.nav__item :hover {
  color: black;
}

.btn {
  border: none;
  background: none;
}
.btn__menu--click {
  display: none;
}
.btn__close {
  display: none;
}
.btn__close--click {
  display: none;
}

.hero__container {
  width: 100%;
  text-align: center;
  margin-top: 100px;
}
.hero__title {
  font-size: 40px;
  font-weight: 100;
  font-family: "Raleway", sans-serif;
  margin-bottom: 30px;
}
.hero__text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  max-width: 250px;
  margin: 0 auto;
  line-height: 22px;
  margin-bottom: 30px;
}
.hero__button {
  background-color: #08a6e4;
  color: #ffffff;
  border-radius: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 80px;
  padding-right: 80px;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  box-shadow: 0px 3px 10px #31b6de;
  margin-bottom: 40px;
  cursor: pointer;
}
.hero__img {
  margin-top: 50px;
  width: 375px;
  height: 200px;
}

.why-us__container {
  text-align: center;
  font-family: "Raleway", sans-serif;
}
.why-us__title {
  font-weight: 100;
  line-height: 42px;
  max-width: 270px;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 30px;
}
.why-us__numbers h1 {
  font-weight: 900;
  font-size: 20px;
  letter-spacing: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.why-us__numbers p {
  color: #a5a5a5;
  max-width: 150px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.dot {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  z-index: -1;
  left: 140px;
  top: -3px;
}
.dot__container {
  position: relative;
}
.dot--red {
  background-color: #fb3b64;
}
.dot--blue {
  background-color: #08a6e4;
}
.dot--green {
  background-color: #55dfb4;
}

.benefits__container {
  max-width: 375px;
  background-color: #f7f7f7;
  text-align: center;
  margin-top: 40px;
  padding: 30px;
}
.benefits__container .img {
  position: relative;
  z-index: 1;
  margin-right: 20px;
}
.benefits__card {
  background-color: #fff;
  border: 1px solid #dcdcdc;
  margin: 0 auto;
  position: relative;
  padding: 20px;
  margin-top: 40px;
  padding-bottom: 20px;
  z-index: 1;
}
.benefits__card__one {
  padding-top: 60px;
  padding-bottom: 40px;
}
.benefits__card .title {
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  padding: 0;
  text-align: left;
  margin-bottom: 40px;
  max-width: 250px;
  margin-top: 20px;
}
.benefits__card .text {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 22px;
  font-size: 15px;
  text-align: left;
}
.benefits__card .bg {
  display: inline-block;
  position: absolute;
  z-index: -1;
}
.benefits__card .bg--red {
  height: 80px;
  width: 80px;
  border-radius: 20%;
  left: 180px;
  top: 50px;
  transform: rotate(45deg);
  background-color: #fb3b64;
}
.benefits__card .bg--blue {
  height: 140px;
  width: 140px;
  border-radius: 100%;
  left: 65px;
  top: 15px;
  background-color: #08a6e4;
}
.benefits__card .bg--green {
  height: 180px;
  width: 314px;
  left: 0px;
  top: 335px;
  border-radius: 5px;
  background-color: #55dfb4;
}

.pricing__title {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
}
.pricing__card {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 40px;
  border-radius: 5%;
  display: flex;
  padding: 20px 20px 40px 20px;
  position: relative;
  height: 250px;
  align-items: center;
}
.pricing__card .text-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
.pricing__card .description {
  list-style-type: none;
  width: 60%;
  font-family: "Open Sans", sans-serif;
}
.pricing__card .description li {
  margin-top: 10px;
}
.pricing__card .description li img {
  margin-right: 10px;
}
.pricing__card .title {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 20px;
}
.pricing__card .price {
  font-family: "Open sans", sans-serif;
  font-size: 40px;
  font-weight: 100;
}
.pricing__card .limited {
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
  font-size: 12px;
}
.pricing__card .btn {
  position: absolute;
  top: 90%;
  left: 25%;
  padding: 15px 60px;
  border-radius: 50px;
  color: #ffffff;
  cursor: pointer;
}
.pricing__card .btn--red {
  background-color: #fb3b64;
}
.pricing__card .btn--blue {
  background-color: #07ace6;
  left: 27%;
}
.pricing__card .btn--green {
  background-color: #55dfb4;
}
.pricing__card--red {
  border: 1px solid #fb3b64;
  width: 80%;
}
.pricing__card--red .price {
  color: #fb3b64;
}
.pricing__card--blue {
  border: 1px solid #07ace6;
  width: 90%;
  box-shadow: 1px 1px 10px #07ace6;
}
.pricing__card--blue .price {
  color: #07ace6;
}
.pricing__card--green {
  border: 1px solid #55dfb4;
  width: 80%;
}
.pricing__card--green .price {
  color: #55dfb4;
}

.contact__container {
  margin-top: 100px;
  margin-bottom: 60px;
  padding-left: 20px;
}
.contact__container .title {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin-bottom: 10px;
}
.contact__container .text {
  font-family: "Open sans", sans-serif;
  margin-bottom: 30px;
}
.contact__container .contact-data {
  font-family: "Open sans", sans-serif;
  color: #aaa3a3;
  display: flex;
  margin-bottom: 10px;
}
.contact__container img {
  align-items: center;
  margin-right: 10px;
}
.contact__container form {
  display: flex;
  flex-direction: column;
}
.contact__container form .label {
  margin-bottom: 10px;
  margin-top: 30px;
  font-family: "Open sans", sans-serif;
  color: #08a6e4;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.contact__container form .input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  background-image: none;
  flex: 1;
  color: #000;
  font-size: 1em;
  border-bottom: 1px #d3d3d3 solid;
  font-family: "Open sans", sans-serif;
}
.contact__container form .checkbox-container {
  display: flex;
  align-items: start;
  margin-top: 30px;
  gap: 10px;
}
.contact__container form .checkbox-container input[type=checkbox] {
  margin-top: 10px;
}
.contact__container form .checkbox-container label {
  color: #aaa3a3;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}
.contact__container form .btn-container {
  display: flex;
  justify-content: end;
}
.contact__container form button {
  width: 70%;
  margin-top: 30px;
  padding: 20px 40px;
  border-radius: 50px;
  background-color: #08a6e4;
  border: none;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
  cursor: pointer;
  box-shadow: 0px 5px 15px #08a6e4;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 0px -10px 10px #dcdcdc;
}
.footer__text h1 {
  font-weight: 100;
  font-size: 30px;
  font-family: "Raleway", sans-serif;
  color: #58bbde;
  margin-bottom: 5px;
}
.footer__text p {
  color: #aaa3a3;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}
.footer__social {
  display: flex;
  gap: 20px;
}

.checkbox {
  height: 150px;
  margin-top: 30px;
}
.checkbox__container {
  position: absolute;
  display: flex;
  align-items: start;
}
.checkbox__container input[type=checkbox] {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
.checkbox__container label {
  width: 315px;
  color: #AFAFAF;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}
.checkbox__container input[type=checkbox]:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
  font-size: 10px;
  color: #08a6e4;
  display: none;
}
.checkbox__container input[type=checkbox]:hover {
  border: 1px solid #08a6e4;
}
.checkbox__container input[type=checkbox]:checked:after {
  display: block;
}/*# sourceMappingURL=styles.css.map */