* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  margin: 0 auto;
  position: relative;
}

//---------MOBILE---------------------------------------------

.progressBar {
  z-index: 2;
  width: 100%;
  height: 3px;
  position: fixed;
  top: 0;
  left: 0;
}

.nav {
  &__container {
    display: block;
    text-align: left;
    box-shadow: 0px 10px 10px #dcdcdc;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__title {
    width: 30%;
    display: inline-block;
    font-weight: 100;
    font-size: 28px;
    font-family: "Raleway", sans-serif;
    margin-right: 50%;
    margin-left: 5%;
    color: #58bbde;
  }

  &__list {
    display: none;
    margin-top: 20px;
    list-style-type: none;
    text-align: left;
    padding-left: 35px;
    cursor: pointer;

    &--active {
      box-shadow: none;
      display: block;
    }
  }

  &__li {
    margin-bottom: 14px;
  }

  &__item {
    color: #a8a8a8;
    font-size: 10px;
    text-decoration: none;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: smaller;
    font-family: "Open Sans", sans-serif;
    padding: 0;

    &--first {
      color: black;
      border: none;
    }

    :hover {
      color: black;
    }
  }
}

.btn {
  border: none;
  background: none;
  display: inline-block;

  &__menu--click {
    display: none;
  }

  &__close {
    display: none;

    &--click {
      display: none;
    }
  }
}

.modal-popup {
  display: none;
  left: 15%;
  top: 25%;
  position: fixed;
  z-index: 2;
  color: #07ace6;
  font-family: "Raleway", sans-serif;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
  background-color: #163a2e;
  border-radius: 20px;
  border: 4px solid #fff;
  outline: 1px solid #a8a8a8;
  font-size: 8px;

  .container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;

    input {
      width: 40%;
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      appearance: none;
      outline: 0;
      box-shadow: none;
      background-color: transparent;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      font-size: 10px;
      border-bottom: 1px #a8a8a8 solid;
      font-family: "Open sans", sans-serif;
      color: #fff;
    }

    button {
      width: 30%;
      padding: 10px;
      border-radius: 5px;
      color: #163a2e;
      background-color: #07ace6;
      border: none;
      font-family: "Open sans", sans-serif;
      font-size: 10px;
      font-weight: 900;
    }
  }

  img {
    position: absolute;
    top: 8px;
    right: 8px;
  }
}

.hero {
  &__container {
    width: 100%;
    text-align: center;
    margin-top: 100px;
  }

  &__title {
    font-size: 40px;
    font-weight: 100;
    font-family: "Raleway", sans-serif;
    margin-bottom: 30px;
  }

  &__text {
    width: 70%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: 0 auto;
    line-height: 22px;
    margin-bottom: 30px;
  }

  &__button {
    width: 70%;
    background-color: #08a6e4;
    color: #ffffff;
    border-radius: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    box-shadow: 0px 3px 10px #31b6de;
    margin-bottom: 40px;
    cursor: pointer;
  }

  &__img {
    margin-top: 50px;
    width: 100%;
    height: 200px;
  }
}

.why-us {
  &__container {
    text-align: center;
    font-family: "Raleway", sans-serif;
    margin-bottom: 0px;
  }

  &__title {
    font-weight: 100;
    line-height: 42px;
    max-width: 270px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  &__numbers {
    display: block;

    h1 {
      font-weight: 900;
      font-size: 20px;
      letter-spacing: 10px;
      margin-bottom: 20px;
      margin-top: 10px;
    }

    p {
      color: #a5a5a5;
      max-width: 150px;
      margin: 0 auto;
      margin-bottom: 40px;
    }
  }
}

.dot {
  &__container {
    position: relative;
  }

  height: 55px;
  width: 55px;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  right: 50%;
  top: -3px;

  &--red {
    background-color: #fb3b64;
  }

  &--blue {
    background-color: #08a6e4;
  }

  &--green {
    background-color: #55dfb4;
  }
}

.benefits {
  &__container {
    width: 100%;
    background-color: #f7f7f7;
    text-align: center;
    margin-top: 40px;
    padding: 30px;
  }

  &__card {
    display: block;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    margin: 0 auto;
    position: relative;
    padding: 20px;
    margin-top: 40px;
    padding-bottom: 20px;
    z-index: 1;

    &__one {
      padding-top: 60px;
      padding-bottom: 40px;

      .img-container {
        position: relative;
        width: 100%;
      }

      img {
        width: 70%;
        margin: 0 auto;
      }
    }

    &__two {
      .img-container {
        position: relative;
        width: 100%;
      }

      img {
        width: 70%;
        margin: 0 auto;
      }
    }

    &__three {
      width: 100%;
    }

    .title {
      width: 100%;
      font-family: "Raleway", sans-serif;
      font-weight: 100;
      padding: 0;
      text-align: left;
      margin-bottom: 40px;
      margin-top: 20px;
      margin-left: 0px;
    }

    .text {
      width: 100%;
      font-family: Arial, Helvetica, sans-serif;
      line-height: 22px;
      font-size: 15px;
      text-align: left;
      margin-left: 0px;
    }

    .border {
      display: none;
    }

    .bg {
      position: absolute;
      z-index: -1;

      &--red {
        left: 60%;
        top: -20px;
        width: 25%;
        height: 60%;
        border-radius: 20px;
        transform: rotate(45deg);
        background-color: #fb3b64;
      }

      &--blue {
        height: 100%;
        width: 60%;
        border-radius: 100%;
        top: -2px;
        background-color: #08a6e4;
      }

      &--green {
        height: 160px;
        width: 100%;
        left: 0px;
        top: 100%;
        border-radius: 5px;
        background-color: #55dfb4;
      }
    }
  }

  &__card-image {
    display: block;
    width: 100%;

    .img {
      position: relative;
      z-index: 1;
      margin-top: 0px;
      margin-right: 0px;
    }
  }
}

.pricing {
  &__container {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  &__title_container {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
  }

  &__title {
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-weight: 100;
    margin-bottom: 0px;
  }

  &__select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 1px #aaa3a3 solid;
    border-radius: 5px;
    background-color: #fff;
    color: #07ace6;
    cursor: pointer;
    font-size: 1em;
    text-align: center;
    padding: 1%;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 14%;
  }

  &__card-container {
    width: 100%;
    display: block;
  }

  &__card {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 100px;
    border-radius: 5%;
    padding: 20px 10px 60px 10px;
    position: relative;

    .text-container {
      display: inline-block;
      text-align: center;
      width: 40%;
      margin-right: 20px;
      vertical-align: top;
      margin-top: 30px;
    }

    .description {
      display: inline-block;
      text-align: left;
      list-style-type: none;
      width: 51%;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;

      li {
        margin-top: 10px;

        img {
          margin-right: 10px;
        }
      }
    }

    .title {
      font-family: "Raleway", sans-serif;
      font-weight: 900;
      font-size: 20px;
    }

    .price {
      font-family: "Open sans", sans-serif;
      font-size: 40px;
      font-weight: 100;
    }

    .limited {
      font-family: "Open Sans", sans-serif;
      font-weight: 900;
      font-size: 12px;
    }

    .btn-pricing {
      position: absolute;
      top: 90%;
      left: 25%;
      padding: 15px 60px;
      border: none;
      border-radius: 50px;
      color: #ffffff;
      cursor: pointer;

      &--red {
        background-color: #fb3b64;
      }

      &--blue {
        background-color: #07ace6;
        left: 27%;
      }

      &--green {
        background-color: #55dfb4;
      }
    }

    &--red {
      border: 1px solid #fb3b64;
      width: 80%;

      .price {
        color: #fb3b64;
      }
    }

    &--blue {
      border: 1px solid #07ace6;
      width: 90%;
      box-shadow: 1px 1px 10px #07ace6;

      .price {
        color: #07ace6;
      }
    }

    &--green {
      border: 1px solid #55dfb4;
      width: 80%;

      .price {
        color: #55dfb4;
      }
    }
  }
}

.slider {
  &__container {
    margin-bottom: 100px;
  }

  &__images-container {
    height: 240px;
    width: 90%;
    margin: 0 auto;
    position: relative;
    padding-top: 40px;
    background: #000;

    img {
      height: 70%;
      width: 100%;
      display: none;
      position: absolute;
      left: 0;
    }

    .image-slider.active {
      display: block;
    }

    .btn-slider {
      background: rgba(0, 0, 0, 0.5);
      width: 100%;
      border: 1px solid #bbb;
      border-radius: 20px;
      padding: 15px;
      cursor: pointer;
      position: absolute;
      height: 30px;
      width: 30px;
      top: 50%;

      &--left {
        background-image: url('../assets/slider/left.png');
        background-size: 25px;
        background-position: center;
        left: 10px;
      }

      &--right {
        background-image: url('../assets/slider/right.png');
        background-size: 25px;
        background-position: center;
        right: 10px;
      }
    }
  }

  &__dots {
    width: 90%;
    padding-bottom: 10px;
    margin: 0 auto;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #000;

    .dot-slider {
      position: initial;
      z-index: 1;
      height: 8px;
      width: 8px;
      background-color: #bbb;
      border-radius: 50%;

      &--active {
        background-color: #fff;
      }
    }
  }
}

.contact {
  &__container {
    display: block;
    margin-top: 100px;
    margin-bottom: 60px;

    .text-container {
      width: 90%;
      margin: 0 auto;
    }

    .title {
      font-family: "Raleway", sans-serif;
      font-weight: 400;
      margin-bottom: 10px;
      font-size: 30px;
    }

    .text {
      font-family: "Open sans", sans-serif;
      margin-bottom: 30px;
    }

    .container-data {
      display: block;
    }

    .contact-data {
      font-family: "Open sans", sans-serif;
      color: #aaa3a3;
      margin-bottom: 10px;
    }

    img {
      margin-right: 10px;
    }

    form {
      width: 90%;
      margin: 0 auto;
      position: relative;

      .label {
        display: block;
        margin-bottom: 10px;
        margin-top: 30px;
        font-family: "Open sans", sans-serif;
        color: #08a6e4;
        text-transform: uppercase;
        letter-spacing: 2px;
      }

      .input {
        width: 100%;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        outline: 0;
        box-shadow: none;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        font-size: 15px;
        border-bottom: 1px #d3d3d3 solid;
        font-family: "Open sans", sans-serif;
      }

      .container-input.incorrect {
        border: 1px solid #fb3b64;
        border-radius: 5px;
        color: #fb3b64;
      }

      .btn-container {
        width: 100%;
        display: inline-block;
        text-align: end;
      }

      button {
        width: 70%;
        margin-top: 30px;
        padding: 20px 40px;
        border-radius: 50px;
        background-color: #08a6e4;
        border: none;
        color: #fff;
        font-family: "Open Sans", sans-serif;
        font-weight: 900;
        cursor: pointer;
        box-shadow: 0px 5px 15px #08a6e4;
        margin-right: 10px;
      }

      .error {
        text-align: center;
        background-color: #fb3b64;
        visibility: hidden;
        opacity: 0.8;
        padding: 10px;
        padding-top: 10px;
        padding-bottom: 20px;
        position: absolute;
        top: -5%;
        left: 40%;
        font-size: 10px;
        font-family: "Raleway", sans-serif;
        border-radius: 10px;
        color: #fff;
      }
    }
  }
}

.checkbox {
  &__container {
    margin-top: 40px;

    input[type="checkbox"] {
      display: inline-block;
      vertical-align: top;
      appearance: none;
      -webkit-appearance: none;
      height: 20px;
      width: 20px;
      border: 1px solid #dcdcdc;
      border-radius: 5px;
      cursor: pointer;
      margin-right: 10px;
      padding-left: 2.5px;
      padding-top: 2px;
    }

    label {
      width: 85%;
      display: inline-block;
      color: #afafaf;
      font-size: 12px;
      font-family: "Open Sans", sans-serif;
      cursor: pointer;
    }

    input[type="checkbox"]:after {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f00c";
      font-size: 12px;
      color: #08a6e4;
      display: none;
    }

    input[type="checkbox"]:hover {
      border: 1px solid #08a6e4;
    }

    input[type="checkbox"]:checked:after {
      display: inline-block;
    }
  }
}

.btn-back {
  background-color: transparent;
  font-family: "Raleway", sans-serif;
  letter-spacing: 3px;
  display: block;
  margin: 0 auto;
  width: 20%;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 20px;
  padding: 20px;
  cursor: pointer;
  border: none;
  border-radius: 30px;

  &:hover {
    background-color: #08a6e4;
    color: white;
  }
}

.footer {
  &__container {
    display: block;
    padding: 20px;
    box-shadow: 0px -10px 10px #dcdcdc;
  }

  &__text {
    width: 60%;
    display: inline-block;
    margin-right: 15%;

    h1 {
      font-weight: 100;
      font-size: 30px;
      font-family: "Raleway", sans-serif;
      color: #58bbde;
      margin-bottom: 5px;
    }

    p {
      color: #aaa3a3;
      font-family: "Open Sans", sans-serif;
      font-size: 12px;
    }
  }

  &__social {
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;

    .fb {
      margin-right: 10px;
    }
  }
}

//---------------DESKTOP-------------------------------------

@media (min-width: 1200px) {
  .nav {
    &__container {
      display: flex;
      justify-content: space-between;
      padding-right: 5%;
      padding-left: 0px;
      padding-bottom: 0px;
    }

    &__title {
      margin-bottom: 10px;
      margin-right: 0;
    }

    &__list {
      margin-top: 0px;
      display: flex;
      align-items: end;
      gap: 100px;
      padding: 0;
      margin: 0;
    }

    &__li {
      margin: 0;
      padding-bottom: 20px;
    }

    &__item {
      padding-bottom: 18px;
    }

    &__item--first {
      border-bottom: 3px solid #08a6e4;
    }
  }

  .btn {
    display: none;
  }

  .modal-popup {
    left: 35%;
    top: 25%;
    padding: 50px;
    font-size: 15px;
    width: 30%;

    .container {
      margin-top: 40px;
    }

    input {
      width: 40%;
    }

    button {
      width: 20%;
    }
  }

  .hero {
    &__text {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 15px;
      width: 100%;
    }

    &__button {
      width: 20%;
      margin-bottom: 0px;
    }

    &__img {
      width: 90%;
      margin-top: 50px;
      height: 550px;
    }
  }

  .why-us {
    &__container {
      margin-bottom: 80px;
    }

    &__title {
      max-width: 50%;
      text-align: center;
      margin-bottom: 100px;
    }

    &__numbers {
      display: flex;
      justify-content: center;
      gap: 150px;
    }
  }

  .dot {
    border-radius: 50%;
    left: 30px;

    &--blue {
      left: 40px;
    }

    &--green {
      left: 10px;
    }
  }

  .benefits {
    &__container {
      margin: 0 auto;
      padding: 0;
      padding-top: 100px;
      padding-bottom: 100px;
    }

    &__card {
      width: 50%;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;

      &__one {
        padding-top: 80px;
        padding-bottom: 60px;

        img {
          width: 100%;
          margin-right: 40px;
        }

        .border {
          background-color: #fb3b64;
        }
      }

      &__two {
        flex-direction: row;

        .border {
          background-color: #08a6e4;
        }

        img {
          width: 100%;
          margin-left: 20px;
        }
      }

      &__three {
        padding-top: 80px;
        padding-bottom: 60px;
        min-width: 50%;
        margin-left: 0;

        .border {
          background-color: #55dfb4;
        }
      }

      .title {
        width: 62%;
        margin-top: 0px;
        margin-left: 20px;
        margin-bottom: 20px;
      }

      .text {
        width: 80%;
        margin-left: 20px;
      }

      .border {
        display: block;
        width: 70%;
        height: 4px;
        margin-left: 20px;
        margin-top: 40px;
      }

      .bg {
        &--red {
          left: 60%;
          top: -20px;
          width: 40%;
          height: 60%;
        }

        &--blue {
          height: 100%;
          width: 90%;
          top: -2px;
        }

        &--green {
          height: 100%;
          width: 96%;
          left: 105%;
          top: -1px;
        }
      }
    }

    &__card-image {
      position: relative;
      margin: 0 auto;
      display: flex;
      align-items: center;
      width: 50%;

      .img {
        position: absolute;
        left: 60%;
        top: 30%;
      }
    }
  }

  .pricing {
    &__container {
      margin-top: 100px;
      margin-bottom: 100px;
    }

    &__title_container {
      margin-bottom: 40px;
    }

    &__select {
      width: 5%;
    }

    &__card-container {
      display: flex;
      margin: 0 auto;
      gap: 60px;
      width: 60%;
    }

    &__card {
      text-align: center;
      padding: 20px 20px 40px 20px;

      .text-container {
        margin: 0 auto;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 50px;
      }

      .text-container.three {
        margin-bottom: 30px;
      }

      .description {
        text-align: center;
        width: 60%;
        margin: 0 auto;
        margin-bottom: 40px;

        li {
          margin-top: 25px;
        }
      }

      .title {
        margin-bottom: 10px;
      }

      .price {
        margin-bottom: 10px;
      }

      .btn-pricing {
        top: 95%;
        left: 27%;
        padding: 15px 60px;

        &--blue {
          left: 30%;
          top: 96%;
        }
      }

      &--green {
        max-height: 480px;
        margin-top: 40px;
      }

      &--red {
        max-height: 480px;
        margin-top: 40px;
      }
    }
  }

  .slider {
    &__images-container {
      height: 500px;
      width: 50%;

      img {
        height: 85%;
        width: 100%;
      }
    }

    &__dots {
      gap: 10px;
      height: 10px;
      width: 10px;
      margin-left: 40%;
      width: 50%;
      margin: 0 auto;
      padding-bottom: 20px;

      .dot-slider {
        position: initial;
        z-index: 1;
        height: 10px;
        width: 10px;
        background-color: #a5a5a5;
        border-radius: 50%;

        &--active {
          background-color: #fff;
        }
      }
    }
  }

  .contact {
    &__container {
      width: 50%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      gap: 80px;
      padding-left: 20px;
      margin-bottom: 60px;

      .text-container {
        width: 100%;
      }

      .title {
        margin-bottom: 25px;
        font-size: 40px;
      }

      .text {
        font-family: "Open sans", sans-serif;
        margin-bottom: 30px;
      }

      .container-data {
        display: flex;
        gap: 20px;
      }

      .contact-data {
        display: flex;
        align-items: center;
      }

      form {
        margin-right: 20px;
        width: 100%;

        button {
          width: 50%;
        }
      }
    }
  }

  .checkbox {
    margin-top: 30px;

    &__container {
      display: flex;

      label {
        width: 90%;
      }

      input[type="checkbox"]:after {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f00c";
        font-size: 12px;
        color: #08a6e4;
        display: none;
      }

      input[type="checkbox"]:hover {
        border: 1px solid #08a6e4;
      }

      input[type="checkbox"]:checked:after {
        display: inline-block;
      }
    }
  }

  .footer {
    &__container {
      background-color: #f7f7f7;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 170px;
      padding-bottom: 20px;
      padding-top: 20px;
    }

    &__social {
      display: flex;
      gap: 20px;
    }
  }
}